<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../vue.js"></script>

    <title>Aula 06 - TemplateDiretivas</title>
</head>
<body>
    <div id="app">
        <h1>{{titulo}}</h1>
        <div v-if="comprou == true">
            <input v-model="cor" type="color" name="" id="">
            {{cor}}
            <h3>{{conteudo}}</h3>
            <p>{{comprou ? 'Sim, comprou' : 'Não, não comprou'}}</p>
        </div>
        <a :href="comprou ? href : ''">{{href}}</a>
    </div>
    <script>
        new Vue({
            el: "#app",
            data : {
                titulo: "Curso de VueJs",
                conteudo: "Treinando para melhorar",
                comprou: true,
                href: "https://www.google.com",
                cor: "#333"
            }
        });
    </script>
</body>
</html>